**/.git
**/bin
**/obj
**/node_modules
**/.vs
**/.vscode
**/TestResults
**/*.user
**/*.suo
**/packages
.memory-bank/
journal/
specs/
docs/
samples/
to-do/
my-specs/
**/*.md
!src/**/*.md
!README.md
docker-compose.yml
.env
